:root {
  --root-white: white;
  --root-coral: coral;
  --root-tomato: #a41e0f;
  --root-aqua: aqua;
}
@font-face {
  font-family: "xhs";
  src: url("../img/英雄人物素材/汉标西红市首字体.ttf") format("truetype");
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "xhs", "Microsoft YaHei", sans-serif;
  font-size: 34px;
  overflow-x: hidden;
}

body {
  background-image: url("../img/英雄人物素材/英雄人物.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.top {
  width: 100%;
  height: 110px;
  overflow: hidden;
  position: relative;
  z-index: 999;
}

.top img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 110px);
  /* overflow-y: auto; */
  box-sizing: border-box;
  /* background-color: var(--root-aqua); */
  column-gap: 0px;
}

.imgs {
  position: relative;
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--root-aqua); */
}

.imgs a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(155, 211, 211); */
}

.imgs a img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  width: 80%;
  height: 100%;
  display: none;
  /* background-color: var(--root-aqua); */
}

.imgs a img.active {
  display: block;
}

.imgs img {
  transition: transform 1s ease-in-out; /* 设置过渡效果 */
}

.active-transition {
  transform: translateY(-50px); /* 向上移动 10px */
}

nav {
  height: calc(100vh - 280px); /* Adjust to fit the available space */
  width: 50vw;
  overflow: hidden;
  margin-bottom: 220px;
  padding-top: 200px;
  margin-right: 70px;
}

nav ul {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
  margin-top: 30px;
}
nav ul li:first-child {
  margin-top: 0;
}

nav ul li div a {
  text-decoration: none;
  color: var(--root-white);
  line-height: 0;
  align-self: center;
}

nav ul li:hover {
  color: var(--root-coral);
}

.setFont {
  font-size: 38px;
  color: var(--root-tomato);
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1.5px solid red;
  padding-bottom: 15px;
  border-image: linear-gradient(90deg, rgba(110, 15, 0, 1), rgb(20, 0, 0)) 1
    stretch;
}
nav ul li div a img {
  width: 30px;
  height: 30px;
}
